@import '../variables.css';

.content-container-chat {
    display: flex;
    flex-direction: column;
    height: calc(100% - 60px);
    background-color: var(--container-background-color);
    z-index: 999;
    position: fixed;
    top: 60px;
    left: 250px;
    right: 250px;
    overflow-y: auto;
}
