.create-team-container {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    text-align: center;
    overflow: hidden;
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-left: 25px;
    margin-right: 25px;
    padding-top: 25px;

}

.create-team-title-container {
    text-align: center;
    position: relative;
    overflow: hidden;
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 435px;
    margin-bottom: 15px;

}

.create-team-title {

    color: var(--dark-brown);
    font-size: 35px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    transition: all 0.5s cubic-bezier(0.68,-0.55,0.265,1.55);
    /* margin-top: 170px; */

}


.create-team-top {
    display: flex;
    flex-direction: column;
}

.create-team-name-container {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border: 1px solid lightgray;
    margin-bottom: 25px;
    display: flex;

}

.create-team-invite-members-container {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border: 1px solid lightgray;
    display: flex;
    width: 400px;

}


.create-team-name-input {
    width: 470px;
    height: 35px;
    font-size: 18px;
    border: none;
    outline: none;
    margin-left: 10px;
    margin-right: 10px;

}

.create-team-name-title, .create-team-invite-members-title {
    display: flex;
    font-weight: 550;
    margin-bottom: 5px;
    color: var(--dark-brown);
}

.create-team-invite-members-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.create-team-invite-members-input {
    width: 380px;
    height: 35px;
    font-size: 18px;
    border: none;
    outline: none;
    margin-left: 10px;
    margin-right: 10px;


}

.create-team-invite-button {
    height: 40px;
    font-size: 20px;
    border-radius: 10px;
    border: 1px solid #ccc;
    background-color: var(--green);
    color: white;
    cursor: pointer;
    transition: 0.2s;
    padding-left: 15px;
    padding-right: 15px;    
    margin-left: 10px;
}

.create-team-create-button {
    height: 40px;
    font-size: 20px;
    border-radius: 10px;
    border: 1px solid #ccc;
    background-color: var(--green);
    color: white;
    cursor: pointer;
    transition: 0.2s;
    padding-left: 15px;
    padding-right: 15px;    
    margin-left: 10px;
}

.create-team-member-list-container {
    background-color: var(--light-green);
    display: flex;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
    max-height: 400px;
    overflow-y: auto;
    flex-direction: column;
}

.create-team-member {
    padding: 5px;
    display: flex;
    width: 470px;
    margin-bottom: 5px;
}

.create-team-member-info {
    color: var(--dark-brown);
    margin-left: 10px;
}

.create-team-member-image {
    background-color: gray;
    width: 50px;
    height: 50px;
    border-radius: 10px;
}

.create-team-member-name {
    display: flex;
    font-weight: 550;
    font-size: 20px;
}

.create-team-member-email {
    display: flex;
    font-size: 18px;
}

.create-team-bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    margin-bottom: 25px;

}

.create-team-create-button:hover, .create-team-invite-button:hover {
    background-color: var(--green-hover);
}

.create-team-cancel-button {
    color: var(--dark-brown);
    background-color: white;
    border: 2px solid gray;
    box-shadow: none;
    transition: 0.2s;
    height: 40px;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
    padding-left: 15px;
    padding-right: 15px;    
}

.create-team-cancel-button:hover {
    background-color: rgba(0, 0, 0, 0.1);

}

.create-team-member-cancel {
    margin-left: auto;
    color: var(--dark-brown);
    border-radius: 5px;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    width: 25px;
    border-radius: 12px;
    transition: 0.2s;
    cursor: pointer;
}

.create-team-member-cancel:hover {
    background-color: rgba(0, 0, 0, 0.1);
}


.create-team-member-name-wrapper {
    display: flex;
    gap: 15px;
    justify-content: left;
    align-items: center;
    margin-bottom: 5px;

}

.create-team-invite-pending {
    font-size: 14px;
    border-radius: 5px;
    /* border: 1px solid black; */
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 5px;
    padding-bottom: 3px;
    background-color: var(--mid-green);
    color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);

}
