@import '../../variables.css';

.header-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px; 
    background-color: var(--header-background-color);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    color: var(--text-color);
}

.header-container::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px; 
    width: 100%;
    height: 4px; 
    background: linear-gradient(to top, var(--shadow), transparent); 
    z-index: -1; 
}

.header-team-name {
    margin-left: 8px;
    font-size: 15px;
}

.header-selected-team-name {
    margin-left: 10px;
}


.header-team-image-container {
    width: 35px;
    height: 35px;
    border-radius: 10px;
    background-color: gray;
}

.header-team-dropdown-container {
    display: flex;
    width: 210px;
    height: 45px;
    align-items: center;
    justify-content: center;
    background-color: var(--white);
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}

.header-team-dropdown-arrow {
    margin-left: auto; 
    margin-right: 10px;

}

.header-page-icon {
    margin-top: 10px;
}

.header-page-icon-container {
    position: relative;
    width: 45px;
    height: 45px;
    border-radius: 15px;
    background-color: var(--page-icon);
    margin-right: 20px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: 0.1s;

}

.header-page-icon-container.active {
    background-color: var(--page-icon-active);
}


.header-page-icon-container.active::after {
    content: '';
    position: absolute;
    bottom: -7px; 
    left: -5px;
    width: 55px;
    height: 4px;
    border-radius: 2px;
    background-color: var(--light-gray);
}

.header-user-profile-container {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: gray;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    cursor: pointer;

}

.header-user-profile-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-user-container {
    display: flex;
    width: 200px;
    height: 45px;
    align-items: center;
    justify-content: right;
    margin-left: auto; 
    margin-right: 25px;
}

.header-dropdown-list {
    position: absolute;
    background-color: var(--white);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    width: 200px;
    top: 55px;
    right: 50px;
    border-radius: 10px;
  }
  
.header-dropdown-list > * {
    color: var(--text-color);
    padding: 12px 16px;
    text-decoration: none;
    display: flex;
    align-items: center; 
    justify-content: space-between;
    font-size: 16px;
    background-color: var(--white);
    border-radius: 10px;
  }
  
 .header-notification-button {
    margin-right: 30px;
    margin-top: 5px;
 }

 .header-notification-icon {
    fill: rgb(155, 155, 155);
 }


 .header-team-container {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    display: inline-flex;
    align-items: center;
    color: var(--dark-brown);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    justify-content: left;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 101;
    flex-direction: column;
    overflow: hidden;
    min-width: 150px;
    width: 100%;
    max-height: 45px;
    padding: 5px;
    transition: max-height 0.3s ease, background-color 0.3s ease;
    font-weight: 550;
    font-size: 16px;
}

.header-team-container.active {
    max-height: 750px;
    background-color: white;
    overflow-y: auto;
}
.header-team-container:hover {
    background-color: white;

}

.header-team-container-wrapper {
    position: relative;
    width: 230px;
    margin-left: 10px;
    margin-right: 20px;
    margin-top: -45px;
}



.header-team-dropdown-list > div {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 5px;

}

.header-team-dropdown-list > div:last-child {
    margin-bottom: 5px;
}

.header-team-dropdown {
    overflow: hidden;
    transition: max-height 0.2s ease;
    width: 100%;
}

.header-team-dropdown.closed {
    max-height: 0;
}

.header-team-dropdown.open {
    max-height: 500px; 
    margin-top: 5px;

}

.header-selected-team-details {
    display: flex;
    justify-content: left;
    align-items: center;
    transition: 0.2s;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
    transition: 0.2s;
}



.header-team-details {
    display: flex;
    justify-content: left;
    align-items: center;
    transition: 0.2s;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s;
    padding-left: 5px;
}

.header-team-details:hover {
    background-color: var(--white-hover);
}

.header-team-profile-image {
    width: 30px;
    height: 30px;
    background-color: gray;
    border-radius: 5px;
}

.header-selected-team-profile-image {
    width: 34px;
    height: 34px;
    background-color: gray;
    border-radius: 5px;
}

.header-team-arrow-container {
    margin-left: auto;
    margin-right: 5px;
}

.header-create-team-button-container {
    margin-top: 5px;
}

.header-create-team-button {
    display: flex;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
    transition: 0.2s;
    font-weight: 550;
    border-radius: 10px;
    padding-left: 40px;
    cursor: pointer;
}

.header-create-team-button > div {
    font-size: 14px;

}

.header-create-team-button:hover {
    background-color: var(--white-hover);
}

@keyframes jump {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-2px); 
    }
}

.header-page-icon-container.inactive:hover {
    animation: jump 0.2s ease forwards;

}

.header-team-details.selected {
    background-color: var(--light-green);
  }

.header-tick-icon {
    fill: var(--green);
    margin-left: auto;
    margin-right: 5px;
}

.header-team-dropdown-list-container {
    border-top: 1px solid lightgray;

    border-bottom: 1px solid lightgray;

}
