@import '../../variables.css';

.header-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px; 
    background-color: var(--header-background-color);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1005;
    color: var(--lighter-text-color);
    box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.1) inset;  

}



.header-team-name {
    margin-left: 8px;
    font-size: 15px;
}

.header-selected-team-name {
    margin-left: 10px;
}


.header-team-dropdown-container {
    display: flex;
    width: 210px;
    height: 45px;
    align-items: center;
    justify-content: center;
    background-color: var(--white);
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: 0.2s;

}

.header-team-dropdown-arrow {
    margin-left: auto; 
    margin-right: 10px;

}

.header-page-icon {
    margin-top: 10px;
    filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.3));

}

.header-page-icon-container {
    position: relative;
    width: 45px;
    height: 45px;
    border-radius: 15px;
    background-color: var(--page-icon);
    margin-right: 20px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    transition: 0.1s;

}

.header-page-icon-container.active {
    background-color: var(--page-icon-active);
}

.header-page-settings-container {
    position: relative;
    width: 45px;
    height: 45px;
    border-radius: 15px;
    background-color: var(--secondary);
    margin-right: 20px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.35);
    cursor: pointer;
    transition: 0.1s;

}

.header-page-settings-container.active {
    background-color: var(--secondary-active);
}



.header-page-icon-container.active::after, .header-page-settings-container.active::after {
    content: '';
    position: absolute;
    bottom: -6px; 
    left: -5px;
    width: 55px;
    height: 4px;
    border-radius: 2px;
    background-color: rgb(182, 182, 182);
}

.header-user-profile-container {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: gray;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    cursor: pointer;

}

.header-user-profile-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-user-container {
    display: flex;
    width: 200px;
    height: 45px;
    align-items: center;
    justify-content: right;
    margin-left: auto; 
    margin-right: 25px;
}

.header-profile-dropdown-list {
    position: absolute;
    background-color: var(--white);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 2060;
    min-width: 280px;
    top: 60px;
    right: 25px;
    border-radius: 10px;
    transition: 0.2s;
  }
  
.header-profile-dropdown-option   {
    color: var(--lighter-text-color);
    padding: 10px;
    text-decoration: none;
    display: flex;
    align-items: center; 
    justify-content: space-between;
    font-size: 18px;
    background-color: var(--white);
    border-radius: 10px;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }

  .header-profile-dropdown-darkmode   {
    color: var(--lighter-text-color);
    padding: 10px;
    text-decoration: none;
    display: flex;
    align-items: center; 
    justify-content: space-between;
    font-size: 18px;
    background-color: var(--white);
    border-radius: 10px;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  }

  .header-profile-dropdown-option:hover   {
    background-color: var(--white-hover);
  }


  .header-profile-dropdown-option-left {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .header-language-dropdown-list {
    position: absolute;
    background-color: var(--white);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 2060;
    min-width: 220px;
    top: 60px;
    right: 25px;
    border-radius: 10px;
    padding: 5px;
  }


  
 .header-notification-button {
    margin-right: 30px;
    margin-top: 5px;
    width: 26px;
    height: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 13px;
    transition: 0.1s;
    filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.3));
    /* background: var(--page-icon); */

 }

 .header-notification-button:hover {
    /* background: var(--page-icon-active); */
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
 }

 .header-notification-icon {
    fill: rgb(173, 171, 171);
    width: 17px;
     height: 17px;

 }


 .header-team-container {
    background-color: var(--transparent-white);
    border-radius: 10px;
    display: inline-flex;
    align-items: center;
    color: var(--lighter-text-color);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    justify-content: left;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 101;
    flex-direction: column;
    overflow: hidden;
    min-width: 150px;
    width: 100%;
    max-height: 45px;
    padding: 5px;
    transition: max-height 0.3s ease, background-color 0.3s ease;
    font-weight: 550;
    font-size: 16px;
}

.header-team-container.active {
    max-height: 750px;
    background-color: var(--white);
    overflow-y: hidden;
}
.header-team-container:hover {
    background-color: var(--white);

}

.header-team-container-wrapper {
    position: relative;
    width: 230px;
    margin-left: 10px;
    margin-right: 20px;
    margin-top: -45px;
}



.header-team-dropdown-list > div {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 5px;

}

.header-team-dropdown-list > div:last-child {
    margin-bottom: 5px;
}

.header-team-dropdown-list {
    transition: 0.2s;
}

.header-team-dropdown-list.open {
    overflow-y: auto;
    max-height: 600px;
}

.header-team-dropdown-list::-webkit-scrollbar {
    display: none; 
  }

.header-team-dropdown-list.closed {
    max-height: 0;
}

.header-team-dropdown {
    transition: max-height 0.2s ease;
    width: 100%;
    
}

.header-team-dropdown.closed {
    max-height: 0;
}

.header-team-dropdown.open {
    max-height: 700px; 
    margin-top: 5px;

}

.header-selected-team-details {
    display: flex;
    justify-content: left;
    align-items: center;
    transition: 0.2s;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
    transition: 0.2s;
}



.header-team-details {
    display: flex;
    justify-content: left;
    align-items: center;
    transition: 0.2s;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s;
    padding-left: 5px;
}

.header-team-details:hover {
    background-color: var(--white-hover);
}

.header-team-profile-image {
    width: 30px;
    height: 30px;
    background-color: gray;
    border-radius: 7px;

}

.header-selected-team-profile-image {
    width: 34px;
    height: 34px;
    background-color: gray;
    border-radius: 7px;

}

.header-team-arrow-container {
    margin-left: auto;
    margin-right: 5px;
}

.header-create-team-button-container {
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-create-team-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
    transition: 0.2s;
    font-weight: 550;
    border-radius: 10px;
    cursor: pointer;
    padding-right: 10px;
    padding-left: 5px;
}

.header-create-team-button > div {
    font-size: 14px;

}

.header-create-team-button:hover {
    background-color: var(--white-hover);
}

@keyframes jump {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-2px); 
    }
}

.header-page-icon-container.inactive:hover, .header-page-settings-container.inactive:hover {
    
    animation: jump 0.2s ease forwards;

}

.header-team-details.selected {
    background-color: var(--light-green-darkmode);
  }

.header-tick-icon {
    fill: var(--green);
    margin-left: auto;
    margin-right: 5px;
}

.header-team-dropdown-list-container.open {
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;


}

.header-team-dropdown-list-container.closed {
    border: none;


}

.header-profile-dropdown-list.close {
    opacity: 0;
    visibility: hidden;
  }
  
  .header-profile-dropdown-list.open {
    opacity: 1;
    transition: opacity 0.2s;
    visibility: visible;
  }

  .create-team-icon {
    width: 24px;
    height: 24px;
    margin-left: 4px;
    fill: var(--light-gray);
  }

.header-profile-dropdown-profile-container {
    color: var(--lighter-text-color);
    text-decoration: none;
    display: flex;
    align-items: center; 
    font-size: 16px;
    background-color: var(--white);
    border-radius: 10px;
    height: 60px;
    padding: 10px;

}


.header-profile-dropdown-profile-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-profile-dropdown-profile-image {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    background-color: gray;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    cursor: pointer;

}

.header-profile-dropdown-profile-info-container {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    overflow: hidden;
}

.header-profile-dropdown-name {
    margin-top: 5px;
    font-size: 20px;
    margin-bottom: 5px;
    font-weight: 550;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);

}

.header-profile-dropdown-email {
    font-size: 15px;
    padding-bottom: 5px;
}

.header-profile-dropdown-option-container {
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;

    margin-left: 5px;
    margin-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;

}

.header-profile-dropdown-bottom   {
    color: var(--lighter-text-color);
    padding: 5px;
    text-decoration: none;
    display: flex;
    align-items: center; 
    justify-content: space-between;
    font-size: 18px;
    background-color: var(--white);
    border-radius: 10px;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  }

.header-profile-dropdown-bottom-left {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    
}

.header-profile-dropdown-bottom-right {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: var(--red);
    font-weight: 550;
    cursor: pointer;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
}

.header-profile-dropdown-bottom-left:hover, .header-profile-dropdown-bottom-right:hover {
    background-color: var(--white-hover);
}

.header-logout-icon {
    fill: var(--red);
}

.header-toggle-language-option.language-selected {
    background-color: var(--light-green) !important; 
    color: var(--dark-brown); 
}

.header-toggle-language-option {
    color: var(--lighter-text-color);
    padding: 10px 14px;
    text-decoration: none;
    display: flex;
    align-items: center; 
    justify-content: space-between;
    font-size: 18px;
    background-color: var(--white);
    border-radius: 10px;
    font-weight: 550;
    cursor: pointer;
}

.header-toggle-language-option:hover {
    background-color: var(--white-hover);
  }


.header-language-option-container {
    border-top: 1px solid lightgray;
}

.header-language-top {
    display: flex;
    align-items: center;
    padding-bottom: 5px;
}

.header-language-back-button {
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
}

.header-language-back-button:hover {
    background-color: var(--white-hover);
}

.header-language-text {
    font-size: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
    margin-right: 24px;
    gap: 10px;
}


.header-notification-dropdown-container {
    position: absolute;
    background-color: var(--white);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 2060;
    min-width: 400px;
    top: 60px;
    right: 25px;
    border-radius: 10px;
    transition: 0.2s;
  }

  .header-notification-dropdown-container.close {
    opacity: 0;
    visibility: hidden;
  }
  
  .header-notification-dropdown-container.open {
    opacity: 1;
    transition: opacity 0.2s;
    visibility: visible;
  }

  .header-notification-dropdown-list {
    margin: 5px;
    border-top: 1px solid lightgray;
  }

  .header-notification-dropdown-top {
    display: flex;
    padding-top: 10px;
    padding-left: 10px;
    align-items: center;
  }

  .header-notification-dropdown-top-left {
    font-size: 20px;
    font-weight: 550;
    display: flex;
    gap: 10px;
  }

  .header-notification-dropdown-top-right {
    margin-left: auto;
    margin-right: 10px;
  }


  .header-notification-dropdown-profile-container {
    color: var(--lighter-text-color);
    text-decoration: none;
    display: flex;
    align-items: center; 
    font-size: 16px;
    background-color: var(--white);
    border-radius: 10px;
    height: 60px;
    padding: 10px;

}

.header-notification-dropdown-profile-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-notification-dropdown-profile-image {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    background-color: gray;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    cursor: pointer;

}

.header-notification-dropdown-profile-info-container {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    overflow: hidden;
}

.header-notification-dropdown-name {
    margin-top: 5px;
    font-size: 20px;
    margin-bottom: 5px;
    font-weight: 550;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);

}

.header-notification-dropdown-email {
    font-size: 15px;
    padding-bottom: 5px;
}

.header-text-bold {
    font-weight: 600;
}

.header-user-icon {
    fill: var(--gray);
}