.side-menu-bar{
    width: 250px;
    position: fixed;
    top: 60px;
    left: 0;
    height: calc(100% - 60px);
    box-sizing: border-box;
    z-index: 999;
    border-right: 1px solid var(--light-gray);
    overflow-y: auto;
    padding: 20px;
    background-color: var(--settings-gray-filed);
}

.side-menu-bar-inner {
    display: flex;
    flex-direction: column;
}

.side-menu-bar-item {
    margin: 10px 0;
    padding: 10px;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: var(--white);
    display: flex;
    justify-content: start;
    align-items: center;
}

.side-menu-bar-item:hover {
    background-color: var(--white-hover);
}

.teamsettings-icon {
    width: 25px;
    height: 25px;
    margin: 4px 10px 0 5px;
}

.teamsettings-icon path{
    fill: var(--settings-regular)
}

.teamsettings-icon.select path{
    fill: var(--settings-selected)
}

.teamsettings-item-name {
    color: var(--settings-regular);
}

.teamsettings-item-name.select {
    color: var(--settings-selected)
}