.teamsettigs-invite-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.teamsettigs-invite-modal .modal-content {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    max-width: 500px;
    max-height: 460px;
    text-align: center;
    border-radius: 15px;
}

.teamsettigs-invite-modal input[type="text"] {
    width: 70%;
    padding: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
}

.invite-add-btn, .invite-invite-btn {
    height: 40px;
    font-size: 20px;
    border-radius: 10px;
    border: 1px solid #ccc;
    background-color: var(--green);
    color: white;
    cursor: pointer;
    transition: 0.2s;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 10px;
}
.invite-cancle-btn {
    color: var(--dark-brown);
    background-color: white;
    border: 2px solid gray;
    box-shadow: none;
    transition: 0.2s;
    height: 40px;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
    padding-left: 15px;
    padding-right: 15px;
}

#inviteList {
    background-color: var(--light-green);
    display: flex;
    border-radius: 10px;
    padding: 10px;
    margin: 0 20px 20px 20px;
    max-height: 260px;
    overflow-y: auto;
    flex-direction: column;
}

.invite-team-member {
    padding: 5px;
    display: flex;
    margin-bottom: 5px;
}

.invite-modal-title {
    font-size: 25px;
    margin-bottom: 30px;
    text-align: left;
}