.teamsettings-header {
    font-size: 30px;
    padding: 70px;
}
.teamsettings-team-table {

}
.teamsettings-team-table-header{
    padding: 0 70px;
}
.teamsettings-team-table-header-top {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 2px solid var(--settings-selected);
}
.teamsettings-team-table-header-bottom {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}
.teamsettings-team-table-wrapper{
    padding: 0 70px 70px;
    min-height: 524px;
}
.teamsettings-team-table{
    width: 100%;
}
.teamsettings-team-table thead tr {
    height: 30px;
}
.teamsettings-team-table tbody tr {
    height: 60px;
}
.teamsettings-team-table th:nth-child(1){
    width: 30px;
    text-align: center;
    vertical-align: middle;
}

.teamsettings-team-table th:nth-child(2){
    width: 70px;
    vertical-align: middle;
    text-align: center;
}

.teamsettings-team-table th:nth-child(3){
    vertical-align: middle;
    text-align: left;
}

.teamsettings-team-table th:nth-child(4){
    width: 100px;
    vertical-align: middle;
    text-align: left;
}

.teamsettings-team-table .odd-column {
  background-color: var(--settings-gray-filed);
}

.teamsettings-team-table td:first-child {
    text-align: center;
}

.teamsettings-team-table td:nth-child(2) {
    text-align: center;
}

.teamsettings-team-table td {
    vertical-align: middle;
}

.teamsettigs-team-member-profile {
    width: 40px;
    height: 40px;
    border-radius: 20px;
}

.teamsettings-team-footer {
    position: sticky;
    width: 100%;
    height: 40px;
    background-color: var(--container-background-color);
    bottom: 0;
    border-top: 1px solid var(--light-gray);
    padding: 10px 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.team-paging-prev, .team-paging-next, .team-paging-num {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 3px;
}

.team-paging-prev, .team-paging-next {
    border: none;
    background-color: transparent;
}

.team-paging-prev.active, .team-paging-next.active {
    cursor: pointer;
}

.team-paging-num {
    border: 1px solid var(--light-gray);
    border-radius: 5px;
    padding: 0 3px;
}

.team-paging-num.current {
    color: var(--page-green);
    font-weight: bold;
}

.team-paging-num.active:not(.current):hover {
    background-color: var(--light-gray5);
    color: var(--white);
    cursor: pointer;
}

.teamsettings-table-sort-icon {
    width: 18px;
    height: 18px;
    margin-left: 3px;
    margin-bottom: 3px;
    vertical-align: middle;
}

.teamsettings-table-filter-icon {
    width: 16px;
    height: 16px;
    margin-left: 3px;
    margin-bottom: 4px;
    vertical-align: middle;
}