@import '../../../variables.css';

.chat-users-container {
    padding: 10px;
}

.chat-users-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.chat-user-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.chat-user-profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin-right: 10px;
    background-color: gray;
}

.chat-users-name {
    font-weight: 600;
    color: var(--text-color);
}

.chat-users-role {
    margin-top: 20px;
}

.chat-users-role h4 {
    margin: 10px 0;
    color: var(--main-text-color);
    font-size: 18px;
    font-weight: 600;
}
