.create-team {
    width: 100%;
    height: 100%;
}

.create-team-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.create-team-modal-inner {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.create-team-modal-main {
    width: 50%;
    height: 10%;
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.create-team-display-block {
    display: block;
}

.create-team-display-none {
    display: none;
}

.mainpage-profile-box3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}