@import '../../variables.css';

.event-container {
    display: flex;
}

.event-duration {
    font-size: 11px;
}

.event-description-sidebar {
    font-size: 14px;
    margin-bottom: 10px;
    margin-left: 5px;

}

.event-day-group {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    color: var(--text-color);
}

.day-label {
    font-size: 16px;
    font-weight: 700;

}

.date-label {
    font-size: 14px;
    margin-left: auto;
    margin-right: 5px;
}
  

  
  .event-duration div {
    margin: 0;
  }
  
  .time-difference {
    font-style: italic;
    color: #888;
  }
  
  .event-title-container {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  }

  .event-title {
    font-weight: 550;
  }
  
  .event-color-circle {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 8px;
    flex-shrink: 0; 

  }
  

.event-time-info {
    display: flex;
}

.event-start-time {
    font-size: 14px;
    font-weight: 600;
}

.time-until-event {
    margin-left: auto;
    font-size: 12px;
}

.event-time-info {
  margin-bottom: 5px;
}

.event-location-container-sidebar {
  display: flex;
  margin-bottom: 10px;
}

.event-location-icon {
  color: var(--dark-gray);
  flex-shrink: 0; 

}

.event-location-sidebar {
  margin-left: 5px;
  font-size: 15px;

}

.event-item {
  color: var(--text-color);
  margin-bottom: 20px;
  padding: 5px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.calendar-sidebar-top {
  display: flex;
  align-items: center;
  gap: 10px;
}

.calendar-sidebar-title {
  font-weight: 600;
  font-size: 18px;
  color: var(--lighter-text-color);
}

.calendar-sidebar-time-icon {
  width: 20px;
  height: 20px;
  fill: var(--lighter-text-color);

}

.calendar-sidebar-no-events-container {
  display: flex;
  flex-direction: column;
  height: 800px;
  justify-content: center;
  align-items: center;
}

.event-empty-icon {
  width: 150px;
  margin-top: 5px;

}




.event-empty-text {
  font-weight: 600;
  font-size: 20px;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 5px;
  margin-top: 20px;
  color: var(--lighter-text-color);
}

.event-empty-subtext {
  display: flex;
  justify-content: center;
  font-size: 16px;
  align-items: center;
  text-align: center;
  color: var(--gray-text);

}

.calendar-sidebar-filter-container {
  position: absolute;
  bottom: 0;
  width: 210px;
  display: flex;
  justify-content: space-around;
  padding: 10px;
  border-top: 1px solid var(--light-gray);
  flex-direction: column;
  color: var(--lighter-text-color);
  background-color: var(--white);
}

.filter-button {
  flex: 1;
  padding: 10px;
  background-color: #ffffff;
  border: none;
  border-radius: 4px;
  font-size: 0.9em;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
  margin-bottom: 5px;
  width: 210px;
  display: flex;
  justify-content: space-between;
}

.filter-button.active {
  background-color: var(--light-green-darkmode);
}

.filter-button:hover {
  background-color: var(--white-hover);
}

.calendar-sidebar-filter-header {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
  display: flex;
  gap: 10px
}
.calendar-sidebar-filter-icon {
  width: 22px;
  height: 22px;
  fill: var(--lighter-text-color);
}

.calendar-sidebar-selected-icon {
  fill: var(--green);
  margin-left: auto;
  margin-right: 5px;
  width: 16px;
  height: 16px;

}

