@import '../../variables.css';

.event-container {
    display: flex;
}

.event-duration {
    font-size: 11px;
}

.event-description-sidebar {
    font-size: 14px;
    margin-bottom: 10px;
    margin-left: 5px;

}

.event-day-group {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    color: var(--text-color);
}

.day-label {
    font-size: 16px;
    font-weight: 700;

}

.date-label {
    font-size: 14px;
    margin-left: auto;
    margin-right: 5px;
}
  
  .sidebar h2 {
    margin-bottom: 20px;
    color: var(--text-color);
  }
  
  .sidebar h3 {
    margin-top: 20px;
    margin-bottom: 10px;
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar li {
    margin-bottom: 20px;
    padding: 5px;
    background-color: #fafbfc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  
  .event-duration div {
    margin: 0;
  }
  
  .time-difference {
    font-style: italic;
    color: #888;
  }
  
  .event-title-container {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  }

  .event-title {
    font-weight: 550;
  }
  
  .event-color-circle {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 8px;
    flex-shrink: 0; 

  }
  

.event-time-info {
    display: flex;
}

.event-start-time {
    font-size: 14px;
    font-weight: 600;
}

.time-until-event {
    margin-left: auto;
    font-size: 12px;
}

.event-time-info {
  margin-bottom: 5px;
}

.event-location-container-sidebar {
  display: flex;
  margin-bottom: 10px;
}

.event-location-icon {
  color: var(--dark-gray);
  flex-shrink: 0; 

}

.event-location-sidebar {
  margin-left: 5px;
  font-size: 15px;

}

.event-item {
  color: var(--text-color);
}

.calendar-sidebar-top {
  display: flex;
  align-items: center;
  gap: 10px;
}

.calendar-sidebar-title {
  font-weight: 600;
  font-size: 18px;
  color: var(--lighter-text-color);
}

.calendar-sidebar-time-icon {
  width: 20px;
  height: 20px;
  fill: var(--lighter-text-color);

}

.calendar-sidebar-no-events-container {
  display: flex;
  flex-direction: column;
  height: 800px;
  justify-content: center;
  align-items: center;
}

.event-empty-icon {
  width: 150px;
  margin-top: 5px;

}




.event-empty-text {
  font-weight: 600;
  font-size: 20px;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 5px;
  margin-top: 20px;
  color: var(--lighter-text-color);
}

.event-empty-subtext {
  display: flex;
  justify-content: center;
  font-size: 16px;
  align-items: center;
  text-align: center;
  color: var(--gray-text);

}