:root {
  --header-background-color: #F2F7FC;
  --container-background-color: #f7f9fc;
  --text-color: #000000;
  --gray: gray;
  --dark-gray: rgb(54, 54, 54);
  --page-icon: #B5DBFF;
  --page-icon-active: #55ADFF;
  --white: white;
  --white2: white;
  --white-hover: rgb(241, 241, 241);
  --light-gray: lightgray;
  --light-gray2: rgb(245, 241, 241);
  --light-gray3: rgb(248, 248, 248);
  --shadow: #0000001A;
  --day-clicked: #ddefff;
  --dark-blue: #2b98ff;
  --green: #69a84f;
  --green-hover: #609648;
  --light-green: #e9f7e3;
  --light-green-hover: #cef5bd;
  --lighter-than-black: #393939;
  --light-gray4: #e7e5e5;
  --blue: #0a6f88;
  --dark-brown: #393939;

}

.dark-mode {
  --header-background-color: #28292e ;
  --container-background-color:#35363d;
  --text-color: #dfdfdf;
  --gray: #c9c9c9;
  --dark-gray: #c9c9c9;
  --page-icon: #8ba8c4;
  --page-icon-active: #3a7bb8;
  --white: #55575f;
  --white-hover: #46474d;
  --white2: #405b74;
  --light-gray: rgb(116, 116, 116);
  --light-gray2: rgb(245, 241, 241);

  --light-gray3: #54565f;
  --shadow: #191a23;
  --day-clicked: #248ff3;
  --dark-blue: #2276c5;

}

