:root {
  --header-background-color: #F2F7FC;
  --container-background-color: #f7f9fc;
  --text-color: #000000;
  --gray: gray;
  --dark-gray: rgb(54, 54, 54);
  --page-icon: #B5DBFF;
  --page-icon-active: #55ADFF;
  --white: white;
  --white2: white;
  --white-hover: rgb(241, 241, 241);
  --light-gray: lightgray;
  --light-gray2: rgb(245, 241, 241);
  --light-gray3: rgb(248, 248, 248);
  --shadow: #0000001A;
  --day-clicked: #ddefff;
}

.dark-mode {
  --header-background-color: #222831;
  --container-background-color: #313a47;
  --text-color: #ffffff;
  --gray: white;
  --dark-gray: white;
  --page-icon: #092635;
  --page-icon-active: #081f2b;
  --white: #22303c;
  --white-hover: #1c2731;
  --white2: #405b74;
  --light-gray: #092635;
  --light-gray3: #092635;
  --shadow: #22303c;
  --day-clicked: #248ff3;
}

