.member-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    /*max-width: 800px;*/
    /*margin: 20px auto;*/
    padding: 20px;
    height: 100%;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
}

.member-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.member-form input {
    width: calc(100% - 16px);
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.member-form .form-section {
    display: flex;
    flex-direction: column;
}

.member-form .form-actions {
    grid-column: span 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.member-form button {
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.member-form button:hover {
    background-color: #0056b3;
}

.member-form button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.member-form .error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}
