.appContainer {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header, .footer {
    background: #f4f4f4;
    padding: 10px;
    text-align: center;
}

.bodyContainer {
    display: flex;
    flex: 1;
}

.sidebar {
    width: 250px;
    background: #f4f4f4;
    padding: 20px;
}

.sidebar button.newDoc {
    width: 100%;
    padding: 10px;
    background: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.sidebar ul.menu {
    list-style: none;
    padding: 0;
}

.sidebar ul.menu li {
    padding: 10px;
    cursor: pointer;
}

.sidebar ul.menu li span {
    float: right;
}

.mainContent {
    flex: 1;
    padding: 20px;
    position: relative;
    left:210px;
}

.documentList .docTable {
    width: 100%;
    border-collapse: collapse;
}

.documentList .docTable th,
.documentList .docTable td {
    border: 1px solid #ddd;
    padding: 8px;
}

.documentList .docTable th {
    background-color: #f2f2f2;
    text-align: left;
}

.newDocument .formGroup {
    margin-bottom: 20px;
}

.newDocument .formGroup label {
    display: block;
    margin-bottom: 5px;
}

.newDocument .formGroup input,
.newDocument .formGroup select,
.newDocument .formGroup textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

.newDocument .formGroup input[type="file"] {
    padding: 0;
}

.newDocument button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}
