.chat-room-container {
    display: flex;
    flex-direction: column;
    height: calc(100% - 50px); 
    justify-content: space-between;
}

.chat-room-messages {
    flex-grow: 1;
    overflow-y: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.chat-room-message-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    position: relative;

}

.chat-room-message-sender {
    padding: 10px;
    max-width: fit-content;
    word-wrap: break-word;
    margin-bottom: 5px;
    display: flex;
}

.chat-room-message-content-container {
    display: flex;
    align-items: flex-end;
}

.chat-room-message-content {
    background-color: var(--message-color);
    border-radius: 10px;
    padding: 10px;
    max-width: fit-content;
    word-wrap: break-word;
    white-space: pre-wrap;
    margin-right: 10px;
    margin-left: 55px;
    margin-top: -30px;
    min-width: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

}

.chat-room-message-file-container {
    margin-top: 10px;
}

.chat-room-message-time {
    font-size: 14px;
    padding-left: 10px;
    padding-top: 3px;
    color: var(--lighter-text-color);
}

.chat-room-uploaded-image {
    max-width: 250px;
    transition: filter 0.3s;
}

.chat-room-image-container {
    position: relative;
    display: inline-block;
}

.chat-room-download-icon {
    position: absolute;
    top: 5px;
    right: 5px;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 2px 5px;
    border-radius: 5px;
    display: none;
}

.chat-room-image-container:hover .chat-room-download-icon {
    display: block;
}

.chat-room-uploaded-image:hover {
    filter: brightness(70%);
    cursor: pointer;
}

.chat-room-file-link-container {
    background-color: #e0ffe0;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    transition: background-color 0.3s;
}

.chat-room-file-link {
    color: black;
}

.chat-room-file-link-container:hover .chat-room-file-link {
    text-decoration: underline;
}

.chat-room-file-download-icon {
    margin-left: 5px;
    color: blue;
    cursor: pointer;
}

.chat-room-file-link-container:hover {
    background-color: #c4fbc4;
}

.chat-room-bottom-container {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background: var(--light-gray6);
    border-top: 1px solid var(--light-gray);
}


.chat-room-file-preview-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.chat-room-file-preview {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    background: var(--field-background);
    border-radius: 5px;
    margin-bottom: 5px;
    font-weight: 600;
    margin-left: 5px;
}

.chat-room-file-preview span {
    flex-grow: 1;
}

.chat-room-file-preview button {
    border: none;
    background: transparent;
    cursor: pointer;
    color: red;
    font-weight: bold;
}

.chat-room-file-preview button:hover {
    color: darkred;
}

.chat-room-reply-original {
    padding: 10px;
    margin-top: 5px;
    background-color: #eaf8f2;
    font-size: 0.9em;
    color: #555;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.chat-room-reply-original-top {
    display: flex;
    align-items: center;
}

.chat-room-reply-original-name {
    font-size: 17px;
    font-weight: 600;
}

.chat-room-reply-content {
    font-size: 1em;
    color: #333;
    margin-bottom: 5px;
}



.chat-room-input-container {
    display: flex;
    background: var(--white);
    height: 45px;
    align-items: center;
    padding-left: 10px;
    border-radius: 10px;


}

.chat-room-input-container input {
    width: 100%;
    background: transparent;
    outline: none;
    font-size: 18px;
    border: none;
    margin-left: 5px;
}
.chat-room-input-container input::placeholder {
    color: var(--lighter-text-color);
}

.chat-room-paperclip-icon {
    width: 24px;
    height: 24px;
    fill: var(--lighter-text-color);
}

.chat-room-file-upload-button {
    background-color: transparent;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}



.chat-room-send-icon {
    width: 22px;
    height: 22px;
    fill: var(--lighter-text-color);
}

.chat-room-send-button {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    cursor: pointer;
}

.chat-room-message-name {
    font-size: 18px;
    font-weight: 600;
    color: var(--lighter-text-color);
}

.chat-room-unread-count {
    font-weight: 600;
    font-size: 13px;
}

.chat-room-unread-line {
    border: 0;
    height: 1px;
    background: var(--lighter-text-color);
    margin: 10px 0;
    flex: 1;
}

.chat-room-unread-indicator {
    display: flex;
}

.chat-room-unread-text {
    margin-left: 10px;
    margin-right: 10px;
    font-weight: 600;
}

.chat-room-replying-to {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    color: var(--lighter-text-color);
}

.chat-room-replying-name {
    font-size: 18px;
    font-weight: 600;
    margin-right: 5px;
}

.chat-room-reply-icon {
    width: 22px;
    height: 22px;
    fill: var(--lighter-text-color);
    margin-right: 5px;
}

.chat-room-reply-exit {
    cursor: pointer;
    margin-left: auto;

}