.reaction-menu {
    position: absolute;
    background: white;
    border: 1px solid #ddd;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    display: none;
    z-index: 1000;
    margin-left: 55px;
    border-radius: 5px;
    bottom: -20px;
}

.reaction-menu-container {
    display: flex;
}

.reaction-button:hover {
    background-color: var(--white-hover);
}

.reaction-button {
    border: none;
    background: none;
    cursor: pointer;
    padding: 5px;
}

.chat-room-message-container:hover .reaction-menu {
    display: block;
}
