@import '../../variables.css';

.chat-search-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 10px;
    border: 1px solid var(--light-gray);
    border-radius: 15px;
    height: 30px;
    width: 200px;
    margin-right: 10px;
    background-color: var(--white2);

}

.chat-search-input {
    width: 250px;
    height: 20px;
    outline: none;
    margin-left: 10px;
    border: none;
    background-color: var(--white2);
    color: var(--text-color);

}

.chat-search-input::placeholder {
    color: var(--gray);
}


.chat-search-icon-button {
    padding: 5px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-right: 100px;
}

.chat-search-icon {
    fill: var(--gray);
  }